@using FinalProject.Models;

@{
    ViewData["Title"] = "Index";
}

@model List<Blog>

<main class="main">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                <li><a href="#" class="active">Blog</a></li>
                <li>Classic</li>
            </ul>
        </div>
    </nav>
    <div class="page-content with-sidebar">
        <div class="container">
            <div class="row gutter-lg">
                <div class="col-lg-9">
                    <div class="posts">
                        @foreach (var blog in Model)
                        {
                            <article class="post post-classic mb-7">
                                <figure class="post-media overlay-zoom">
                                    <a asp-action="BlogDetail" asp-controller="Blog" asp-route-id="@blog.Id">
                                        <img src="~/assets/images/blog/@blog.PosterImage" width="870" height="420" alt="post" />
                                    </a>
                                </figure>
                                <div class="post-details">
                                    <div class="post-meta">
                                        by <a class="post-author">@blog.Author</a>
                                        on <a class="post-date">@blog.CreatedDate.ToString("dd/MM/yyyy")</a>
                                        | <a class="post-comment"><span>3</span> Comments</a>
                                    </div>
                                    <h4 class="post-title">
                                        <a asp-action="BlogDetail" asp-controller="Blog" asp-route-id="@blog.Id">
                                            @blog.Title
                                        </a>
                                    </h4>
                                    <p class="post-content">
                                        @blog.Description
                                    </p>
                                    <a asp-action="BlogDetail" asp-controller="Blog" asp-route-id="@blog.Id" class="btn btn-link btn-underline btn-primary">
                                        Read
                                        more<i class="d-icon-arrow-right"></i>
                                    </a>
                                </div>
                            </article>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

